.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 52px 100px;
}

.header {
  text-align: center;
  margin: 32px 0 74px;
}

.description {
  width: 100%;
  max-width: 760px;
  margin: -36px 0 48px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.listContainer {
  width: 100%;
}
