.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 52px 100px;
}

.header {
  text-align: center;
  margin: 32px 0 74px;
}

.listContainer {
  width: 100%;
}
