.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
}

.breadcrumb {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inactive {
  color: var(--color-description);
}
