.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 80px 52px;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
}

.breadcrumb {
  display: flex;
  gap: 8px;
  align-items: center;

  & a {
    color: var(--color-gray);
  }

  &.inactive {
    color: var(--color-black);
  }
}
